* {
    font-family: "Helvetica", sans-serif;
}

main {
    width: 900px;
    margin: 0 auto;
}

h1, div {
    padding: 0.5em;
    color: white;
    margin: auto;
}

h1 {
    background-color: #333745;
    font-size: 100px;
    margin: 10px auto;
    text-align: center;
}

div {
    background-color: #EAD2AC;
    padding: 50px;
    display: flex;
}

span {
    font-size: 32px;
    background-color: #E63462;
    color: #EAD2AC;
    margin: 10px 10px;
    text-align: center;
    padding: 1em;
    flex: 1;
}

a {
    color: #EAD2AC;
    text-decoration: none;
}
